.App {
  height: 100%;
}

p {
  color: white;
  font-family: 'Fira Code', monospace;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-family: 'Fira Code', monospace;
}

button {
  all: unset;
}