.about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.about h1 {
  color: rgb(185, 174, 174);
  font-family: 'Fira Code', monospace;
  text-decoration: underline;
  font-size: 30px;
}

.about-paragraphs {
  display: flex;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.about-paragraphs p {
  margin: 0;
  padding: 0.8em;
}

@media only screen and (max-width: 768px) {
  .about-paragraphs {
    flex-direction: column;
    font-size: 15px;
  }
  .about h1 {
    padding: 0;
  }
}

@media only screen and (min-width: 768px) {

  .about h1 {
    padding: 0 2em 0 0;
  }

}

@media only screen and (min-width: 1200px) {
  .about h1 {
    padding: 0 3em 0 0;
  }
}