.about {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about h1 {
  color: rgb(185, 174, 174);
  text-decoration: underline;
  font-size: 30px;
}

.about-paragraphs {
  display: flex;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .about-paragraphs {
    flex-direction: column;
    font-size: 15px;
  }
}