.home {
  margin: 4em 0 0 0;
}

.home img{
  width: 20em;
}

@media only screen and (max-width: 600px) {
  .home img{
    width: 15em;
  }
}

@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1200px) {}